

/*hobi*/
.div3 {
  margin: 50px 30px;
  align-content: center;
}
.img2 {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.img1{
  width: 90%;
  height: auto;
  
}

/*hobi*/
.bg1 {
  background-image: url("slike/slika4.jpg")
}

.content {
  max-width: 1100px;
  margin: auto;
  background: white;
  padding: 10px;
}

#myimg {
  width: 100%;
  height: auto;
  border-radius: 100px;

}
table img {
    width: 250px;
    height: auto;
}

/*galerija*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

  div.container {
    text-align: center;
    padding: 10px 20px;
  }

  .myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  
    /*rodjendanski poklon*/
    
  div.polaroid {
      width: 30%;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-bottom: 25px;
  }
  .flex-container {
    display: flex;
    justify-content: center;
   
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 70%;
    padding: 20px;
    text-align: left;
    font-size: 16px;
  }

  /* trailer*/
  video {
    width: 100%;
    height: auto;
  }
  #forma {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f7b307;
    width: 100%;
  }

#div1 {
margin: 50px 30px;
  padding:30px;
  align-content: center;
}
#div2 {
  background-color: #f1f1f1;
  padding: 20px;

}
/*kviz*/
.tabela {
  background-color: #F2F2F2;
  border:1px solid #BDBDBD;
  border-radius:10px;
  padding:10px;
  padding-left:50px;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 2px 2px 0px;
 justify-content: center;
 margin-left: 70px;
 
}

p.question {
  font-family: Arial, sans-serif;
      font-size:17px;
  color: #2E2E2E;
  margin-bottom:0px;
}

h2.quizHeader {
  font-family: Arial, sans-serif;
  font-weight:normal;
  font-size:25px;
  line-height: 27px;
  margin: 24px 0 12px 0;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #a2a2a2;
}

h2.quizScore{
  font-family: Arial, sans-serif;
  font-size:25px;
}

div.quizAnswers{
  font-family: Arial, sans-serif;
  font-size:16px;
  color: #424242;
  padding: 4px 0 4px 0;
}

label {
  font-family: Arial, sans-serif;
  font-size:14px;
  color: #424242;
  vertical-align:top;
}

input.answer[type="radio"] {
  margin-bottom: 10px;
}

input.quizSubmit[type="submit"] {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-transition-delay: 0s, 0s;
  -webkit-transition-duration: 0.2s, 0.2s;
  -webkit-transition-property: color;
  -webkit-transition-timing-function: ease, ease;
  box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
  color:black;
  background-color: #f7b307;
  margin-left: 45% ;
  border: 0;
  outline: 0;
  text-transform:uppercase;
  height:35px;
  width:85px;
  border: 1px solid #5E5E5E;
  border-radius:5px;
  
 }

input.quizSubmit[type="submit"]:hover {
  color: #ffffff;
  background: #680f11;
  text-decoration: none;
}



td {
  text-align: left;
  padding: 20px;
  width: 33%;

}

.submitter {
      width:85px;
    
    
}

.hide {
      display:none;
}
